html, #all {
	/*setting global variables */
  --navy : #303841;
  --gray: #EEEEEE;
	--blue: #577386;
	--red: #D62323;
  --white : #FFFFFF;
}
body {
	width: 100%;
  background: var(--gray);
  font-family: "Open Sans";
	font-weight: 400;
  font-size: 13px;
  color : var(--navy);
  margin : 0;
  padding : 0;
}
