
form#SearchbarComponent{
  width : 96%;
  margin : 8% 2%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
form#SearchbarComponent > input[type=text]{
  text-decoration: none;
  margin: 0px 10px;
  padding: 0px 0px 0px 20px;
  border: 0px;
  border-radius: 16px;
  height: 32px;
  width: 75%;
  outline: none;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  font-family: "Open Sans";
  color : var(--red);
  font-weight: 700;
  font-size: 15px;
}
form#SearchbarComponent > input[type=submit]{
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background-image: url("https://i.ibb.co/8bT870C/submit.png");
  background-color: var(--red);
  border: 0px;
  border-radius: 16px;
  height: 32px;
  width : 32px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.16);
}
