#SearchResultContainer{
  margin : 0px 10px;
  overflow: auto;
}
/* #SearchResultContainer {
  margin : 0px;
} */
#SearchResultContainer > .speechType{
  margin: 0px 0px 20px 0px;
}
#SearchResultContainer > .speechType > .speechTypeWord{
  color : var(--blue);
  font-size: 14px;
  font-style: italic;
  margin: 3px 0px;
}
#SearchResultContainer > .speechType > .definition{
  line-height: 1.4;
  margin: 3px 5px;
  font-style: normal;
}
#SearchResultContainer > #intro{
  font-size: 16px;
  color : var(--blue);
  font-style: italic;
}
#SearchResultContainer > #undefined{
  font-size: 16px;
  font-weight: lighter;
  color : var(--blue);
  font-style: italic;
}
